.Pokecard {
  background-color: lightgray;
  border-radius: 10px;
  padding: 1rem;
  width: 13rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, .56);
}

.Pokecard-title {
  color: blue;
  font-size: x-large;
}

.Pokecard-img {
  width: 8rem;
}
